* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF;
    --color2: #000000;
    --color3: #FBC02D;
}

.nav-bar {
    width: 100%;
    display: none;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}

.logo img {
    width: 40px;
}

.menu {
    display: flex;
}

.menu li {
    padding-left: 30px;
}

.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}

.menu li a:hover:after {
    width: 100%;
}

.open-menu,
.close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.close-menu {
    top: 20px;
    right: 20px;
}

#check {
    display: none;
}

.menu li a:hover {
    display: inline-block;
    text-decoration: none;
    color: var(--color3);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}

.active {
    color: #FBC02D;
}

.container {
    width: 100%;
    height: 1000px;
    background-color: var(--color2);
}

.kanan-dulu img {
    width: 220px;
    height: 400px;
    opacity: 40%;
}

.nameku h4 {
    color: #ffff;
    font-size: 30px;
    font-weight: 600;
}

.namespan {
    color: #FBC02D;
    opacity: 80%;
}

.foto-atur {
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
    padding-left: 20px;
}

.kanan-dulu {
    padding-right: 20px;
}

.nameku {
    padding-top: 90px;
}

.garisnya {
    width: 100px;
    height: 1px;
    background-color: #FBC02D;
}

.sosmedku a {
    text-decoration: none;
    color: #FFF;
    font-size: 13px;
}

.garistngh {
    color: #FBC02D;
}

.contactme {
    padding-top: 25px;
}

.border-contacct {
    width: 150px;
    height: 45px;
    border: 2px solid #fffb21;
}

.contactme a {
    text-decoration: none;
    color: #FFF;
}

.aturnya {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.row-aturan {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 35px;
}

.row-aturan1 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-top: 10px;
}

@media(max-width: 610px) {

    .menu li a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: var(--color1);
        transition: 0.15s ease-in-out;
    }

    .menu li a:hover:after {
        width: 100%;
    }

    .nav-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        background-color: var(--color2);
        padding: 12px 20px;
    }

    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: #000000;
        transition: all 0.2s ease-in-out;
    }

    .menu li {
        margin-top: 40px;
    }

    .menu li a {
        padding: 10px;
    }

    .open-menu,
    .close-menu {
        display: block;
    }

    #check:checked~.menu {
        right: 0;
    }

    .logo {
        padding-top: 16px;
    }



}